<div>
  <h1>People</h1>

  <ul>
    <button (click)="actualPerson = 'All'">Alle ToDos anzeigen</button>
    <li *ngFor="let person of people | async">
      {{ person.name }}
      <button (click)="actualPerson = person.name">ToDos anzeigen</button>
    </li>
  </ul>

  <div id="ToDos" *ngIf="actualPerson != undefined">
    ToDos of {{ actualPerson }}<br>
    <ul>
      <li *ngFor="let todo of todos | async; index as i">
        <a *ngIf="todo.assignedTo == actualPerson || actualPerson == 'All'" routerLink="/detail/{{todo.id}}">
        {{ todo.description }}
      </a>
        <button (click)="deleteEvent(todo.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>

<div>
  <h1>Create new ToDo</h1>

  <span>Description: </span>
  <input type="text" [(ngModel)]="description"><br>
  <span>Assigned to: </span>
  <input type="text" [(ngModel)]="assignedTo"><br><br>
  <button (click)="createTodo()" [disabled]="!description || !assignedTo">Send</button><br>
  <h3 *ngIf="created">Created the new Todo</h3>
</div>